.pageheader{
    text-align: center;
    border-bottom: solid;
    border-color: black;
}
.row{
    height:60px;
    border-color:black;
    border-style:solid;
    padding:5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.pasthour{
    background-color:gray ;
    color:gray;
    color:wheat;
    width:90%;
    height:97%;
    border:none;
    float:right;
}
.futurehour{
    background-color: green;
    color:green;
    color:wheat;
    width:90%;
    height:97%;
    border:none;
    float:right;
}
.nowhour{
    background-color:crimson;
    color:wheat;
    width:90%;
    height:97%;
    border:none;
    float:right;
}
.loghour{
    float:right;
    height:66px;
    width:100%;
    padding:5px;
    border-color:black;
    border-style:solid;
}
.label{
    height:100%;
    float:left;
    width:5%;
}
#buttons{
    float:right;
    width:10%
}
#input{
    float:left;
    width:90%;
}
