.pageheader{
    text-align: center;
    border-bottom: solid;
    border-color: black;
}
.row{
    height:60px;
    border-color:black;
    border-style:solid;
    padding:5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.pasthour{
    background-color:gray ;
    color:gray
}
.futurehour{
    background-color: green;
    color:green;
}
.nowhour{
    background-color:crimson;
}
#hourInput{
   color:wheat;
   width:79%;
   height:97%;
   border:none;
}
.loghour{
    float:right;
    height:100%;
    width:10%;
    padding:0px;
}
.label{
    height:100%;
    float:left;
    width:10%;
}
